*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.background-img {
  position: relative;
  width: 100%;
  z-index: -1;
}
.background-img img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}

/* 2px, 4px, 8px, 16px, 24px, 32px, 48px, 64px */
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  margin: 0 auto;
  max-width: 60rem;
  flex-direction: row;
}

.heading-primary {
  color: hsl(0, 0%, 98%);
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 5.75px;
}
@media (min-width: 376px) {
  .heading-primary {
    font-size: 4.8rem;
    letter-spacing: 15px;
  }
}

.form {
  max-width: 37.5rem;
  margin: 0 auto;
}
@media (min-width: 376px) {
  .form {
    max-width: 60rem;
  }
}

.form__list-item {
  font-size: 1.2rem;
  border-bottom: 1px solid hsl(233, 11%, 84%);
  color: hsl(235, 19%, 35%);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__list-item .circle:checked ~ .form__list-text {
  text-decoration: line-through;
  color: hsl(236, 9%, 61%);
}
@media (min-width: 376px) {
  .form__list-item {
    font-size: 1.8rem;
  }
  .form__list-item:hover .close-btn {
    visibility: visible;
  }
}

.form__list-item--end {
  font-size: 1.2rem;
  color: hsl(236, 9%, 61%);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width) {
  .form__list-item--end {
    font-size: 1.4rem;
  }
}

.form__list {
  padding: 2rem;
  margin: 0 auto;
}

.form__list-box {
  display: flex;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 10px 10px 113px -24px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  border-radius: 8px;
}

.form__list-box li:last-child {
  border: none;
}

.form__list-item__box {
  background-color: hsl(0, 0%, 98%);
  box-shadow: 10px 8px 81px -10px rgba(0, 0, 0, 0.45);
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}
@media (min-width: 376px) {
  .form__list-item__box {
    flex-direction: row;
  }
}

.form__items__count {
  padding: 2rem;
}

.form__list-item--flex {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.form__box {
  display: flex;
  margin: 0 auto;
  border-radius: 8px;
  align-items: center;
  padding: 0 2rem 0 2rem;
  justify-content: center;
  background-color: hsl(0, 0%, 98%);
}
@media (min-width: 376px) {
  .form__box {
    max-width: 56rem;
  }
}

.form__input {
  border: none;
  outline: 0;
  flex: 1;
  background-color: transparent;
  max-width: 33.5rem;
  color: hsl(235, 19%, 35%);
  padding: 2rem;
  font-size: 1.2rem;
}
@media (min-width: 376px) {
  .form__input {
    max-width: 60rem;
    font-size: 1.8rem;
  }
}

.icon-check {
  margin: 0 auto;
}

.form__state {
  display: flex;
  margin: 0 auto;
  border-radius: 8px;
  align-items: center;
  padding: 0 2rem 0 2rem;
  justify-content: center;
  background-color: hsl(0, 0%, 98%);
  background-color: transparent;
  border-radius: 0;
  border-top: 1px solid hsl(233, 11%, 84%);
  border-bottom: 1px solid hsl(233, 11%, 84%);
}
@media (min-width: 376px) {
  .form__state {
    border-top: 0;
    border-bottom: 0;
  }
}

.hidden {
  display: none !important;
}

.close-btn {
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;
  border: none;
  background-color: hsl(0, 0%, 98%);
}

.icon-mode {
  border: 0;
  cursor: pointer;
  background-color: inherit;
}

.circle {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  border: 1px solid hsl(233, 11%, 84%);
  position: relative;
  isolation: isolate;
  background-color: white;
}
.circle:hover::after, .circle:focus::after {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -2;
  border-radius: 100%;
}

.circle:checked {
  background-image: url("/images/icon-check.svg"), linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
}

.form__state-btn {
  font-size: 1.2rem;
  border-bottom: 1px solid hsl(233, 11%, 84%);
  color: hsl(236, 9%, 61%);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: hsl(0, 0%, 98%);
  font-weight: 700;
  cursor: pointer;
}
.form__state-btn:hover, .form__state-btn:focus {
  color: hsl(235, 19%, 35%);
}
@media (min-width: 376px) {
  .form__state-btn {
    font-size: 1.4rem;
  }
}

.form__state-btn--clear {
  font-size: 1.2rem;
  border-bottom: 1px solid hsl(233, 11%, 84%);
  color: hsl(236, 9%, 61%);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.form__state-btn--clear:hover, .form__state-btn--clear:focus {
  color: hsl(235, 19%, 35%);
}/*# sourceMappingURL=style.css.map */