.background-img {
  position: relative;
  width: 100%;
  z-index: -1;

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
  }
}
/* 2px, 4px, 8px, 16px, 24px, 32px, 48px, 64px */

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  margin: 0 auto;

  max-width: 60rem;
  flex-direction: row;
}

.heading-primary {
  color: hsl(0, 0%, 98%);
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 5.75px;

  @media (min-width: 768px) {
    font-size: 4.8rem;
    letter-spacing: 15px;
  }
}

.active {
  color: $color-primary-blue !important;
}
