.form {
  max-width: 37.5rem;
  margin: 0 auto;

  @media (min-width: 376px) {
    max-width: 60rem;
  }
}

// Form items
.form__list-item {
  @include form-list-item-mix;
  color: unset;

  .circle:checked ~ .form__list-text {
    text-decoration: line-through;
    color: $color-light-primary-gray-700;
  }

  @media (min-width: 376px) {
    font-size: $font-size--desktop;
    &:hover {
      .close-btn {
        visibility: visible;
      }
    }
  }
}

.form__list-item--end {
  font-size: $font-size--mobile;
  color: $color-light-primary-gray-700;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width) {
    font-size: 1.4rem;
  }
}

.form__list {
  padding: 2rem;
  margin: 0 auto;
}

.form__list-box {
  display: flex;
  background-color: $color-light-primary-gray-100;
  color: $color-light-primary-gray-900;
  box-shadow: $box-shadow;
  flex-direction: column;
  border-radius: $border-radius;
}

.form__list-box li:last-child {
  border: none;
}

.form__list-item__box {
  background-color: $color-light-primary-gray-100;

  box-shadow: 10px 8px 81px -10px rgba(0, 0, 0, 0.45);
  margin: 0 auto;
  display: flex;

  align-items: center;
  flex-direction: column;
  border-radius: $border-radius;

  @media (min-width: 376px) {
    flex-direction: row;
  }
}

.form__items__count {
  padding: 2rem;
}

.form__list-item--flex {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

// Form input
.form__box {
  @include form-box-mix;
  @media (min-width: 376px) {
    max-width: 56rem;
  }
}

.form__input {
  border: none;
  outline: 0;
  flex: 1;
  background-color: transparent;
  max-width: 33.5rem;
  color: $color-light-primary-gray-900;
  padding: 2rem;
  font-size: $font-size--mobile;

  @media (min-width: 376px) {
    max-width: 60rem;
    font-size: $font-size--desktop;
  }
}

.icon-check {
  margin: 0 auto;
}

// Form states
.form__state {
  @include form-box-mix;
  background-color: transparent;
  border-radius: 0;
  border-top: 1px solid $color-light-primary-gray-500;
  border-bottom: 1px solid $color-light-primary-gray-500;

  @media (min-width: 376px) {
    border-top: 0;
    border-bottom: 0;
  }
}

.hidden {
  display: none !important;
}
