.close-btn {
  cursor: pointer;
  width: 1.4rem;
  height: 1.4rem;
  border: none;
  background-color: transparent;
}

.close-img {
  filter: invert(50%);
}

.icon-mode {
  border: 0;
  cursor: pointer;
  background-color: inherit;
}

.circle {
  cursor: pointer;
  appearance: none;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  border: 1px solid var(--neutral-300);

  position: relative;
  isolation: isolate;

  &:hover,
  &:focus {
    &::after {
      content: "";
      position: absolute;
      inset: -2px;
      z-index: -2;
      border-radius: 100%;
    }
  }
}

.circle:checked {
  background-image: url("/images/icon-check.svg"),
    linear-gradient(
      135deg,
      $color-linear-gradient-aqua,
      $color-linear-gradient-pink
    );
  background-repeat: no-repeat;
  background-position: center;
}

.form__state-btn {
  @include form-list-item-mix($color-gray-900: var(--neutral-400));
  border: none;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--neutral-500);
  }

  @media (min-width: 768px) {
    font-size: 1.4rem;
  }
}

.form__state-btn--clear {
  @include form-list-item-mix($color-gray-900: var(--neutral-400));

  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--neutral-500);
  }
}
