$color-primary-blue: hsl(220, 98%, 61%);
$color-linear-gradient-aqua: hsl(192, 100%, 67%);
$color-linear-gradient-pink: hsl(280, 87%, 65%);

html {
  --neutral-100: hsl(0, 0%, 98%);
  --neutral-200: hsl(236, 33%, 92%);
  --neutral-300: hsl(233, 11%, 84%);
  --neutral-400: hsl(236, 9%, 61%);
  --neutral-500: hsl(235, 19%, 35%);

  --neutral-bg: hsl(236, 33%, 92%);
}

html[data-dark="true"] {
  --neutral-100: hsl(237, 14%, 26%);
  --neutral-200: hsl(234, 39%, 85%);
  --neutral-300: hsl(233, 14%, 35%);
  --neutral-400: hsl(234, 11%, 52%);
  --neutral-500: hsl(236, 33%, 92%);

  --neutral-bg: hsl(235, 24%, 19%);
}
