@mixin form-list-item-mix(
  $color-gray-500: $color-light-primary-gray-500,
  $color-gray-900: $color-light-primary-gray-900
) {
  font-size: $font-size--mobile;
  border-bottom: 1px solid $color-gray-500;
  color: $color-gray-900;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin form-box-mix(
  $b-r: $border-radius,
  $color-gray-100: $color-light-primary-gray-100
) {
  display: flex;
  margin: 0 auto;
  border-radius: $border-radius;
  align-items: center;
  padding: 0 2rem 0 2rem;
  justify-content: center;
  background-color: $color-gray-100;
}
